.list-of-issues-container {
    margin-top: .5rem;
    flex: 1;
    margin-bottom: 100px;
    overflow: auto;
    .issue-container {
        display: flex;
        margin: .5rem 0;
        border: 2px solid #ffffff44;
        border-radius: .25rem;

        .issue-priority {
            color: #fff;
            border-bottom-left-radius: .25rem;
            border-bottom-right-radius: .25rem;
            font-weight: 700;
            width: 25%;
            text-align: center;
            margin-top: -.5rem;
            margin-left: -.5rem;

            &.Critical {
                background-color: red;
            }

            &.Major {
                background-color: orange;
            }

            &.Minor {
                background-color: yellow;
                color: #000;
            }

            &.Trivial {
                background-color: green;
            }
        }

        .issue-details {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: .5rem;

            .issue-top {
                display: flex;

                .issue-user {
                    margin-top: .25rem;
                    .icon {
                        font-size: 1em;
                        border-radius: 50%;
                        padding: .5rem;
                        background-color: grey;

                        &.assigned {
                            background-color: darkcyan;
                        }
                    }
                }

                .issue-info {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    padding: .25rem;

                    .ticket {
                        padding-right: .25rem;
                    }

                    .info {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: .25rem;

                        .info-status {
                            border: 1px solid;
                            padding: .2rem;
                            width: 100px;
                            text-align: center;

                            &.New {
                                border-color: orange;
                                color: orange;
                            }

                            &.Completed {
                                border-color: green;
                                color: green;
                            }

                            &.In-Progress {
                                border-color: palegreen;
                                color: palegreen;
                            }

                            &.Unassigned {
                                border-color: palevioletred;
                                color: palevioletred;
                            }
                        }
                    }
                }
            }

            .issue-bottom {
                .issue-description {
                    padding: 0 .25rem;
                }
            }
        }
    }
}