.add-new-issue-container {
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    background-color: #888;
    color: #000;
    z-index: 1;
    transition: .1s ease-in-out;
    width: 100%;
    padding: 1rem;

    .issue-form {
        display: flex;
        flex-direction: column;

        input, select, label {
            padding: .5rem;
        }
    }
}

.add-new-issue-visible {
    left: 0;
}