.mobile-navigation-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: .5rem;
    background-color: #252727;

    .mobile-nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: .5rem;
        padding: .5rem;
        position: relative;

        .activeNavLink {
            color: #fff;
        }

        .inactiveNavLink {
            color: #a9a9a9;
        }

        a {
            text-decoration: none;
        }

        &.active-menu-item {
            color: #fff;
            background-color: #494F5F;
        }
    }
}